body {
    background-color:darkgray;
    margin: 0;
    
}
 /* .logo .results {
    width: 20%;
} */


.logo > img { 
    width: 20%;
    height: 80%;
    }


 .interior {    
    font-family: 'Lato', sans-serif;
  text-align: center;
  height: 70px;
  

 }

 .interior h1 {
     opacity: 0.1;
     font-size: 120px;
     
 }

 .interior h3{

    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
 }
  
.carrusel {
    text-align: center;
    width: 100%;
   
    vertical-align: middle
  
}

.cards {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 570px;
    padding: 5% 15%;
    justify-content: center;
    border-radius: 100px;
 

    
    

}

.cards .card-body{
    background-color:rgb(91, 91, 91);
  
    
 
}

.cards .card-title {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: darkgrey;
}

.cards p {
    font-family: 'Poppins', sans-serif;
    color: darkgrey;
}
.cards a {
    background-color:rgb(75, 75, 75);
    border: dimgrey;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;

    text-align: center;
    

}
.persianaparati {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 95%;
   margin-left: 30px;
   

   
 
}


.persianaparati h5 {
    
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 39px;
    font-family: 900;
    color: rgb(70, 70, 70);
    margin-top: 45px;
    font-style: normal;
    font-weight: 500;
    
}

.persianaparati p  {
    height: auto;
    text-align: center;
    font-size: 14px;
    color: rgb(46, 45, 45);
    font-family: 'Lato', sans-serif;
}

.persianaparati a {
  
   
    width: auto;
    background-color:dimgrey;
    border: dimgrey;
    border-radius: 30px;
    margin-left: 50%;
    font-family: 'Poppins', sans-serif;
    

    

}



.calculadora {

    display: flex;
    justify-content: center;
    
   
}

.calculadora  {
 background-color: rgb(45, 43, 43);

   
}


.calculadora  h5 {
   padding: 15%;
    color: white;
    margin top: 700px; ;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.calculadora  h6 {
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.calculadora p {
    color: white;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

.calculadora a {
    background-color:dimgrey;
    border: dimgrey;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    
    
}


.final {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    text-align: center; 
    margin-top: 7%;
    
    
}


.final2 {

    text-align: center;
    
    font-family: 'Poppins', sans-serif;
    
    margin-top: 4%;
    
}


@media(max-width: 425px){
    
    .carrusel {
        width: 190%;
    }

    .interior {
        width: 3%;
       margin-bottom: 5%;
       font-size: 6px;
       margin-left: 20%;
      
       
        
    }

    .interior h3 {
        margin-top: 0%;
        margin-left: 40%;
        
    }

    .card {
        margin-top: 10%;
         margin-left: 60%;
        
    }


    article.persianaparati{
    
     
      width: 50%;
      display: flex;
       justify-content: center;
       align-items: center;
       height: 80%;
       margin-bottom: 10%;
       margin-left: -25%;
      

      

    }
    .persianaparati img{
        width: 900%;
        display: flex;
        justify-content: center;
        align-items: center;
     
    }

    .persianaparati h5{
        
       
        display: flex;
        justify-content:right;
        align-items:flex-start;
        text-align: center;
       width: 80%;
       
      margin-left: 600%;
      margin-top: 0%;
    }

   
    .persianaparati p {
        width: 100%;
        display: none;

    }

    .persianaparati a {


       
       width: 400%;
       margin-left: 600%;
       margin-top: 0%;
    }

    .todocal {
        background-color: rgb(45, 43, 43);
        margin-left: 10%;
    }

    .calculadora .imagen2{
        display: none;

    }
    
    .calculadora {
        width: 20%;
        margin-left: 30%;
       
        
   
    
    }

    .calculadora h5 {
        font-size: 200%;
        text-align: center;
        margin-top: 40%;
      margin-left: -30%;

       
    }

   

    .calculadora h6 {

        font-size: 150%;
       
        margin-left: -30%;
    }
    .calculadora .imagen1{
        width: 10%;
        background-color: rgb(45, 43, 43);
        
    }

    .calculadora p {
       display: none;
    }

    .calculadora a {
        margin-left: -30%;

    }

    .final {
        width: 180%;
        margin-left: 6%;
    }

    .final2 {
        width: 100%;
      margin-left: 45%;
    }
}
